html, body {
    font-family: Cantarell, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

* {
    transition: background-color 0.5s ease, color 0.5s ease;
}



#page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#quote-box {
    background-color: aliceblue;
    width: 500px;
    border-radius: 4px;
}

#text:before {
    content: "“ ";
    font-size: 2.3rem;
    position: relative;
    top: 0.5rem;
}

#text {
    font-size: x-large;
}

#author:before {
    content: '— ';
}
#author {
    text-align: right;
    margin: 1rem;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

a:hover, button:hover {
    cursor: pointer;
    filter: brightness(80%);

    transition: filter 0.5s;
}

a, button {
    text-decoration: none;
    color: aliceblue;
    border-radius: 4px;
    border: none;
    padding: 1rem;
    margin: 0.5rem;

    filter: brightness(100%);
    transition: filter 0.5s;
}



#share {
    margin: 0;
    display: flex;
    align-items: center;
}